{% extends 'store/main.html' %}
{% load static %}
{% block content %}
 <nav  class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top py-3 shadow-lg shadow-light">
        <div class="container">
            <!-- Navbar-brand -->
            <a class="navbar-brand main-text" href="index.html"> Victor Smart</a>

            <!-- Navbar-toggler -->

              <!-- <button class="navbar-toggler" type="button"  data-bs-toggle="collapse"  data-bs-target="#navmenu">
                <span id="hello" class="navbar-toggler-icon"></span>
              </button>
                -->

            <!-- Navbar-Menu -->
            <div class="collapse navbar-collapse" id="navmenu" >
                <ul  class="navbar-nav ms-auto" id="item" x-show="isOpen" >
                    <li class="nav-item">
                        <a   class="nav-link active"  href="#about">About</a>
                    </li>
                     <li class="nav-item">
                        <a  class="nav-link"   href="#skills">Top Expertise</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link"  href="#s3-container">Previous Projects</a>
                    </li>

                    <li class="nav-item">
                        <a  class="nav-link"  target="_blank"  href="{% static 'css/white3.pdf' %}">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link"  href="#contact">Contact</a>
                    </li>
                </ul>
            </div>

        </div>
 </nav>


      <section class="bg-dark text-light p-3 p-lg-0 pt-lg-5 text-center text-sm-start mt-5 mb-5 ">
        <div class="container p-1 p-sm-5">
            <!-- Flex box -->
            <div class="row" >
              <div class="col-md-3">
                  <img data-aos="fade-right"  data-aos-duration="3000" id="me" class="img-fluid rounded m-3 shadow" src="{% static 'images/undraw/victor.png' %}" alt="victor smart">
              </div>
              <div class="col-md-9 text-center text-sm-start">
                  <div data-aos="fade-left" class="m-4"  data-aos-duration="2000">
                    <h1 class="main-text">Victor Smart | <span class="text-info"> Full Stack Web Developer</span></h1>
                    <p class="lead text-center text-sm-start text-md-start  my-4 welcome-text">

                      I'm a pasionate fullstack web developer, i love to take on new challenges with my great problem solving skills.
					 While I keep busy building projects, I still take interviews in search of a great team & projects that interest me.

                    </p>
                    <div>
                      <a id="link1s" class="btn btn-info m-1" target="_blank" href=" https://github.com/victorsmart99998"><i class="fa-brands fa-github"></i></a>
                     <a id="link2s" class="btn btn-info m-1" target="_blank" href="mailto:victchubxy@gmail.com"><i class="fa-solid fa-at"></i></a>

                       <a id="link3s" class="btn btn-info m-1" target="_blank" href=" https://twitter.com/victorchubxy"><i class="fa-brands fa-twitter"></i></a>
                        <a id="links" class="btn btn-info m-1" target="_blank" href="https://www.linkedin.com/in/victor-smart-444008241/"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
              </div>

            </div>
        </div>
    </section>



    <!-- Section Two -->
    <section id="about" class=" p-3  p-sm-3   text-secondary text-center text-sm-start mb-5" data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
    	<h1 class="text-center text-dark mb-5"><span class="">About</span> me</h1>
    	<div class="container ">
    		<div class="row">
    			<div class="col-md-6 text-justify">
					<h2 class="text-dark">How it all began</h2>
					<p>I am an accomplished classroom teacher in my past life, with years of experience teaching large class of students with proven leadership skills to lead both small and large group. My passion for softwares push me into software development.</p>
					<p>A Pasionate Full Stack Developer who believes in self improvement and positive impact making. I love to take on new challenges with my great problem solving skills.</p>
					<p>

						I don’t like to define myself by the past projects  I’ve worked on. I define myself by the passion to learn and do more. Skills can be taught, personality is inherent. I prefer to keep learning and improving, continue challenging myself, and make great positive impact.

					</p>
					<p>

						My passion fuels me in the pursuit of my goals. I’m a fast learner, able to pick up new skills and build different projects and roles with relative ease.

					</p>
					<p>

						You can read more about my biography, experience, skills, education and much more in the RESUME attached Above.

					</p>
				</div>
				<div class="col-md-6">
					<img class="img-fluid d-none d-sm-block imge" src="{% static 'images/undraw/undraw_software_engineer_lvl5.svg' %}">
				</div>

    		</div>
    	</div>
    </section>


      <!-- Expertise Section -->
    <section id="skills" class="p-2 p-sm-5 bg-mixed mb-5" data-aos="fade-up"
     data-aos-duration="3000">
    	<h1 class="text-center mb-5 mt-2 text-light">Top Expertise</h1>
        <div class="container mb-5 ">
         	<div class="row">
         		<div class="col-md-12">
         			   <div class="accordion accordion-flush shadow" id="accordionFlushExample">
                <!-- Item One -->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                   <span class="ratingss"> <span> Quality team player </span><span class="rating2"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span></span> </span>
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                       I am familiar with the fundamentals of computer science. I have good understanding of Data structures and algorithms, knowledge of design patterns, strict adherence to OOP Principles and the ability to write clean and scalable code.
                    </div>
                  </div>
                </div>
                 <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseOne">
                      <span class="ratingss"> <span> python (Django),  MysQl  </span><span class="rating2"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span></span> </span>
                    </button>
                  </h2>
                  <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                       Developed web apps with great features like authentication systems, payment processors and lots more. I have also Built RESTFUL APIs for some web apps.
                       My good logical and problem solving skills fostered my building of amazaing web apps and APIs with Laravel and Mysql
                    </div>
                  </div>
                </div>
                <!-- Item Two -->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                     <span class="ratingss"> <span>   Javascript(React) </span><span class="rating2"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span> </span>
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      I'm skillful with the use of Javascript. Built games, web apps and Single page applications with  Javascript and Vue Js
                    </div>
                  </div>
                </div>


               <!-- Three -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapse">
                       <span class="ratingss"> <span>Html, Css, Bootstrap</span><span class="rating2"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></span> </span>
                    </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                       I have a great "design sense". Built under good time, beautiful and responsive web pages with Html, CSS, Sass and Bootstrap.

                      </div>
                    </div>
                  </div>

                <!-- Item Four -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapse">
                        <span class="ratingss"> <span> Great Problem Solving </span><span class="rating2"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span></span> </span>
                    </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                       Built websites with wordpress, I also work well with Wordpress themes and plugins
                      </div>
                    </div>
                  </div>
                  	<!-- Item 5 -->
                   <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapse">
                         <span class="ratingss"> <span>   Wordpress </span><span class="rating2"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span> </span>
                    </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                       Over the years, I have developed my problem solving skills through close adherence to principles and practice.
                      </div>
                    </div>
                  </div>

                           <!-- Item 6 -->
                   <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapse">
                         <span class="ratingss"> <span> PostgresQl </span><span class="rating2"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span> </span>
                    </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                       Over the years, I have developed my problem solving skills through close adherence to principles and practice.
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapse">
                         <span class="ratingss"> <span>PHP, MERN stack </span><span class="rating2"><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star "></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span> </span>
                    </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                       My love for Visual communication grew over the years. It motivated me to work hard and  pursue a part-time career in graphics design. I work well with Corel draw and photoshop.
                      </div>
                    </div>
                  </div>

              </div>
         		</div>
         	</div>
        </div>
    </section>




   <!-- Projects Section -->
 <section id="s3-container" class="p-2 p-sm-5 mb-5" data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
     <h1 class="text-center ">Recent Projects</h1>
     <div class="s3-container mb-3" >
    	<div class="s3-contain mb-3" >
    		<div class="row">
          <div class="col-md-4">
              <a class="nav-link" target="_blank" href="https://smart-qui.herokuapp.com/">
                <div class="card text-white shadow text-center text-sm-start" >
                        <img class="card-img-top img-fluid" src="{% static 'images/project/quiz.png' %}" alt="victor smart">
                    <div class="card-body p-3">
                              <h3 class="text-dark">Smartquiz</h3>
                              <p class="text-secondary">
                               An Online quiz App. High qulity and interactive online quiz, Automatically generate Q&A report, take score card and evaluate people with reliable results
                              </p>
                              <a class="btn btn-dark  btn-block btn-sm-start m-3"  target="_blank" href="https://smart-qui.herokuapp.com/" role="button">Learn more</a>
                          </div>
                        </div>
              </a>
            </div>

            <div class="col-md-4">
            <a class="nav-link" target="_blank" href="https://resume-5.herokuapp.com/">
              <div class="card text-white shadow text-center text-sm-start" >
                      <img class="card-img-top img-fluid" src="{% static 'images/project/resu.png' %}" alt="victor smart">
                        <div class="card-body p-3">
                            <h3 class="text-dark">RESUMEking</h3>
                            <p class="text-secondary">
                              A resume builder, A High qulity, interactive, user friedly and easy way to create your professional resume, Technologies: django,bootstrap,AOS,javascript.
                            </p>

                            <a class="btn btn-dark  btn-block btn-sm-start m-3"  target="_blank" href="https://resume-5.herokuapp.com/" role="button">Learn more</a>

                        </div>

                      </div>
            </a>
          </div>


    			<div class="col-md-4">
    				<a class="nav-link" target="_blank" href="https://printingustad.com/">
    					<div class="card text-white shadow text-center text-sm-start" >
	                    <img class="card-img-top img-fluid" src="{% static 'images/project/nef.png' %}" alt="victor smart">


                        <div class="card-body p-3">
                            <h3 class="text-dark">E-print</h3>
                            <p class="text-secondary">
                            	A WOOCommerce project build for a client. online printing store with classic and customizable product,payment integration and quest user shoping
                            </p>

                            <a class="btn btn-dark  btn-block btn-sm-start m-3"  target="_blank" href="https://printingustad.com/" role="button">Learn more</a>


                        </div>

                    	</div>
    				</a>
    			</div>




    		</div>

    	</div>

		<div class="s3-contain mb-3" >
           <div class="row">
            <div class="col-md-4">
              <a class="nav-link" target="_blank" href="https://nefliix.herokuapp.com/">
                <div class="card text-white shadow text-center text-sm-start" >
                        <img class="card-img-top img-fluid" src="{% static 'images/project/nef2.png' %}" alt="victor smart">
                          <div class="card-body p-3">
                              <h3 class="text-dark">Neflix clone</h3>
                              <p class="text-secondary">

                               A simple Neflix clone app. Displays popular movies, Tv series, Actors and their full details. Technologies used include css Js and Django

                              </p>

                              <a class="btn btn-dark  btn-block btn-sm-start m-3"  target="_blank" href="https://nefliix.herokuapp.com/" role="button">Learn more</a>
                          </div>
                </div>
               </a>
            </div>

          <div class="col-md-4">
              <a class="nav-link" target="_blank" href="http://emotbot.com.au/">
                <div class="card text-white shadow text-center text-sm-start" >
                        <img class="card-img-top img-fluid" src="{% static 'images/project/emo.png' %}" alt="victor smart">
                          <div class="card-body p-3">
                              <h3 class="text-dark">Emotbot</h3>
                              <p class="text-secondary">
                             A client project. interactive and dynamic website that gurantee high profile page veiw , for marketing emotion recognition software

                              </p>

                              <a class="btn btn-dark  btn-block btn-sm-start m-3"  target="_blank" href="http://emotbot.com.au/" role="button">Learn more</a>
                          </div>
                </div>
              </a>
            </div>


            <div class="col-md-4">
              <a class="nav-link" target="_blank" href="https://github.com/victorsmart99998/ecom">
                <div class="card text-white shadow text-center text-sm-start" >
                        <img class="card-img-top img-fluid" src="{% static 'images/project/eco.png' %}" alt="victor smart">
                          <div class="card-body p-3">
                              <h3 class="text-dark">E-SHOPRITE</h3>
                              <p class="text-secondary">
                               Online store with paypal payments intergration and guest user shopping,still on process, soon to be deployed
                              </p>

                              <a class="btn btn-dark  btn-block btn-sm-start m-3"  target="_blank" href="https://github.com/victorsmart99998/ecom" role="button">Learn more</a>
                          </div>
                </div>
              </a>
            </div>

           </div>
     </div>
     </div>
    </section>


  <!-- contact section -->
<section class="s2" data-aos="fade-up"
         id="contact" data-aos-duration="3000">>
		<div class="main-container">
			<a href=""></a>
			<h1 class="text-center text-light">Get In Touch</h1>

			<form  action="" method="post">
				{% csrf_token %}
                  {{ form }}
                    <input type="submit" class="form-control submit-btn" value="submit">
			</form>
		</div>
	</section>


    <!-- Footer -->
    <section class="p-5 shadow bg-light" data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
    	<footer class="text-secondary position-relative">
    		<p class="text-center">&copy; Victor Smart <span id="date-span"></span></p>
    		<div class="d-flex justify-content-center align-items-center ">
    			<a class="btn btn-dark m-2" target="_blank" href=" https://github.com/victorsmart99998"><i class="fa-brands fa-github"></i></a>
                 <a class="btn btn-dark m-2" target="_blank" href="{% static 'css/white3.pdf' %}"><i class="fa-solid fa-file-pdf"></i></a>

                  <a class="btn btn-dark m-2" target="_blank" href=" https://twitter.com/victorchubxy"><i class="fa-brands fa-twitter"></i></a>
                  <a class="btn btn-dark m-2" target="_blank" href="https://www.linkedin.com/in/victor-smart-444008241/"><i class="fa-brands fa-linkedin"></i></a>
    		</div>
        </footer>
    </section>
{% endblock content %}



